.homepage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 1024px;
  margin: 0 auto;
}

.homepage__title{
  padding: 15px 25px;

  font-size: 24px;
}

.tranding__list{
  display: flex;
  flex-wrap: wrap;

  margin: -20px 0 0 -20px;
  list-style-type: none;
}

.tranding__item{
  flex-basis: calc(33% - 20px);
  margin: 20px 0 0 20px;
}

.tranding__item:hover,
.tranding__item:focus,{
  cursor: pointer;
  color: brown;
}
  .link {
  color: black;
}

.activeLink {
  color: brown;
}

.link,
.activeLink {
  text-decoration: none;
}

