.navigation{
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 15px;

}

.link {
  color: black;
}

.activeLink {
  color: brown;
}

.link,
.activeLink {
  font-size: 25px;
  text-decoration: none;
}
